

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    env_file:
    - .env
    ports:
      - "8088:8088"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development